<div layout="vertical" layout-fill style="height: inherit">

  <md-content style="width: 100%;height: 100%">
    <header>
      <acme-navbar creationDate="loginCtrl.creationDate" />
    </header>

    <section class="jumbotron" style="height: inherit" layout="column" layout-align="center top">
      <h1>Dashboard</h1>
      <div layout="row" style="margin-bottom: 10px">
        <md-whiteframe class="md-whiteframe-z5" layout="column" layout-align="space-around center" style="background-color: floralwhite;width: 80%;margin-right: 10px;color: black">
          <div class="tabsdemoDynamicHeight" >
            <md-content class="md-padding">
              <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="one">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Tab One</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                  </md-content>
                </md-tab>
                <md-tab label="two">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Two</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                  </md-content>
                </md-tab>
                <md-tab label="three">
                  <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Three</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-content>
          </div>
        </md-whiteframe>
        <md-whiteframe class="md-whiteframe-z5" layout="column" layout-align="space-around center" style="background-color: floralwhite;width: 20%;color: black">
          <div  class="listdemoBasicUsage" >
            <md-content>
              <md-list>
                <md-subheader class="md-no-sticky">3 line item</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in todos">
                  <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
                  <div class="md-list-item-text">
                    <h3>{{ item.who }}</h3>
                    <h4>{{ item.what }}</h4>
                    <p>{{ item.notes }}</p>
                  </div>
                </md-list-item>
              </md-list>
            </md-content>
          </div>
        </md-whiteframe>
      </div>
      <md-whiteframe class="md-whiteframe-z5" layout="column" layout-align="space-around center" style="background-color: floralwhite;width: 100%">
        <md-input-container>
          <label>Name</label>
          <input ng-model="loginCtrl.userName">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="loginCtrl.password">
        </md-input-container>
        <md-button class="md-raised" ng-click="loginCtrl.login()">Login</md-button>
      </md-whiteframe>
    </section>

    <!--<div class="techs" layout-align="center">-->
      <!--<md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">-->
        <!--<div class="thumbnail">-->
          <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
          <!--<div class="caption">-->
            <!--<h3>{{ awesomeThing.title }}</h3>-->
            <!--<p>{{ awesomeThing.description }}</p>-->
            <!--<p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</md-card>-->
    <!--</div>-->
  </md-content>

</div>
