<div layout="vertical" layout-fill style="height: inherit">

  <md-content style="width: 100%;height: 100%">
    <header>
      <acme-navbar creationDate="loginCtrl.creationDate" />
    </header>

    <section class="jumbotron" style="height: inherit" layout="column" layout-align="center top">
      <h1>Administrator</h1>

      <div layout="row" >
        <div layout="column" style="margin-right: 5px">
          <md-whiteframe class="md-whiteframe-z5" layout="column" layout-align="space-around center" style="background-color: #884687;margin-bottom: 10px;color: black">
            <div class="tabsdemoDynamicHeight" >
              <md-content class="md-padding">
                <md-tabs md-dynamic-height="" md-border-bottom="">
                  <!--<md-tab label="Questions List">-->
                  <!--<md-content class="md-padding">-->
                  <!--<md-button class="md-raised md-primary">Add Question</md-button>-->
                  <!--<h1 class="md-display-2">Questions</h1>-->
                  <!--<md-list-item class="md-3-line" ng-repeat="item in dashboardCtrl.questionList">-->
                  <!--<div class="md-list-item-text">-->
                  <!--<h3>Subject: {{ item.subject }}</h3>-->
                  <!--<h4>Points: {{ item.points }}</h4>-->
                  <!--<p>Badge:{{ item.badge }}</p>-->
                  <!--</div>-->
                  <!--<md-divider ></md-divider>-->
                  <!--</md-list-item>-->
                  <!--</md-list>-->
                  <!--</md-content>-->
                  <!--</md-tab>-->

                  <md-tab label="Reward Your Employee">
                    <md-content class="md-padding">
                      <h1 class="md-display-2">Reward Your Employee</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.</p>
                    </md-content>
                  </md-tab>
                  <md-tab label="System Rules">
                    <md-content class="md-padding">
                      <h1 class="md-display-2">System Rules</h1>

                      <div layout="row" layout-margin  layout-align="start center">
                          
                          <div flex flex-order="2" >
                            <h3>: <input required type="number"  ng-model="dashboardCtrl.systemRules.attributes.firstLevel" style="width: 60px"> </h3>
                      <h3> : <input required type="number"  ng-model="dashboardCtrl.systemRules.attributes.secondLevel" style="width: 60px"> </h3>
                       <h3>:<input required type="number"  ng-model="dashboardCtrl.systemRules.attributes.thirdLevel" style="width: 60px"> </h3>
                          </div>
                          <div flex flex-order="1" style="width:350px" layout-align="start center">
                            <h3>Range : 0 - <input required type="number"  ng-model="dashboardCtrl.systemRules.attributes.firstLevelTop" style="width: 60px" >
                              <h3>Range :<input required type="number"  ng-model="dashboardCtrl.systemRules.attributes.firstLevelTop" style="width: 60px"> - <input required type="number"  ng-model="dashboardCtrl.systemRules.attributes.secondLevelTop" style="width: 60px"></h3>
                                <h3>Range :<input required type="number"  ng-model="dashboardCtrl.systemRules.attributes.secondLevelTop" style="width: 60px"> - 100</h3>
                          </div>
                        </div>
                       
                      <md-button class="md-raised" ng-click="dashboardCtrl.updateSystemRule()">Update</md-button>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>
            </div>
          </md-whiteframe>
          <md-whiteframe class="md-whiteframe-z5" layout="row" layout-align="space-around center" style="background-color: #6B446B;
      padding:5px 5px 5px 5px">
            <img src="assets/images/gauges.png" alt="MorImpact" style="width: 30%;height: 40%"><br>
          </md-whiteframe>
        </div>
        <md-whiteframe class="md-whiteframe-z5" layout="column" layout-align="space-around center" style="background-color: #A074AF;width: 30%;color: black">
          <div  class="listdemoBasicUsage" >
            <md-content>
              <h3 class="md-display-2">Leaderboard</h3>
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in dashboardCtrl.clallUsers" style="font-size: larger">
                  {{item.username}} : {{item.points}}
                  <md-divider ></md-divider>
                </md-list-item>
              </md-list>
            </md-content>
          </div>
        </md-whiteframe>
      </div>

    </section>

    <!--<div class="techs" layout-align="center">-->
      <!--<md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">-->
        <!--<div class="thumbnail">-->
          <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
          <!--<div class="caption">-->
            <!--<h3>{{ awesomeThing.title }}</h3>-->
            <!--<p>{{ awesomeThing.description }}</p>-->
            <!--<p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</md-card>-->
    <!--</div>-->
  </md-content>

</div>
